@charset "utf-8";
/* CSS Document */

body {
	background-color:#99F;
	border:double;
	font-family:Verdana, Geneva, sans-serif;
}

#main{
	background-color:#CCC;
	padding:10px;
}

.menu{
	
}

img{
	border:double;
}

table{
	
}

td.menu{
	border:double;
	background-color:#FFF;
}

td.active{
	border:double;
	background-color:#000;
	color:#FFF;
}