h1 {
  margin: 0px;
  font-size:50px;
}

h5 {
  margin: 0px;
}

h3 {
  margin: 0px;
}

h4 {
  margin: 0px;
}

a {
  color: white;
}

a:hover {
  color:red;
}

#menu a {
  color: #f7a36a;
  background-color: white;
  padding: 5px;
  margin-right: 5px;
}

#menu a:hover {
  color: white;
  background: none;
}

#active a {
  color:white;
  background: none;
}

body {
  font-size:20px;
  background-color: #f7a36a;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-left: 10%;
  margin-right: 20%;
  padding-top:20px;
  padding-bottom: 100px;
}

hr {
  border: 1px solid white;
  width: 110%;
  margin-left:-5%;
}

.img1 {
  border: 2px solid white;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
}

.img2 {
  border: 2px solid white;
  margin-left: 20px;
  margin-bottom: 20px;
  float: right;
}




footer {
  color: #f7a36a;
  background-color: white;
  margin: 20px;
  padding: 10px;
  text-align: center;
}

footer p {
  font-size: 15px;
  margin: 0px;
}

footer a {
  color: #f7a36a;
}

/*p::selection {
  color: #f7a36a;
  background-color: rgba(255, 255, 255, 1);
}*/
