body{
  font-family: 'Open Sans', sans-serif;
  background-color:#e6e6e6;
  padding:10px;
}

h1{
  background-color:lightblue;
  border:solid;
  border-color:white;
  border-bottom-color:orange;
  border-right-color:orange;
  padding:5px;
}

.post{
  background-color:white;

}